@font-face {
  font-family: 'Impact';
  src: url('../fonts/Impact.eot');
  src: url('../fonts/Impact.eot') format('embedded-opentype'),
  url('../fonts/Impact.woff2') format('woff2'),
  url('../fonts/Impact.woff') format('woff'),
  url('../fonts/Impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Impact';
  src: url('../fonts/Impact_1.eot');
  src: url('../fonts/Impact_1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Impact_1.woff2') format('woff2'),
  url('../fonts/Impact_1.woff') format('woff'),
  url('../fonts/Impact_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Impacted';
  src: url('../fonts/Impacted.eot');
  src: url('../fonts/Impacted.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Impacted.woff2') format('woff2'),
  url('../fonts/Impacted.woff') format('woff'),
  url('../fonts/Impacted.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

